POSTGRES_HOST=<postgres_host>
POSTGRES_PORT= <postgres_port>
POSTGRES_DB=<postgres_db_name>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
JWT_SECRET=<Long_Secret>
JWT_ISSUER=<Issuer>
JWT_AUDIENCE=<Audience>
JWT_EXPIRY_MINUTES=<Expiry_Time>